<!DOCTYPE HTML>
<html>
<head>
    <title>Date4u - My profile</title>
    <link rel="icon" href="/images/favicon.ico" type="image/ico">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.0/dist/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</head>
<style>
    body {
        background-color: #F5F5F5 !important;
    }
</style>
</head>
<body>

<div class="container">

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <div class="navbar-nav">
                <a class="navbar-brand" th:href="@{/}">Date4u</a>
                <a class="nav-item nav-link" th:href="@{/index}"><i class="fa fa-home"></i> Home</a>
                <a class="nav-link nav-item" th:href="@{/profile/{id}(id=${userId})}"><i class="fa fa-user"></i> My
                    profile</a>
                <a class="nav-link nav-item" th:href="@{/search}"><i class="fa fa-search"></i> Search</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/logout}"><i class="fa fa-sign-out"></i> Logout</a>
            </div>
        </div>
    </nav>
    <div class="alert alert-dismissible alert-warning" th:if="${notOlderThan18}" style="top: 1rem">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0">Um in der Suche zu erscheinen, musst du mindestens 18 Jahre alt sein. Bitte bestätige, dass du
            älter als 18 Jahre alt bist.</p>
    </div>
    <div class="alert alert-dismissible alert-warning" th:if="${descriptionIsEmpty}" style="top: 1rem">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0"> Beschreibung fehlt. Für einen besseren Eindruck bei der Suche solltest du eine Beschreibung
            hinzufügen.</p>
    </div>

    <div class="row mb-4">
        <div class="col-3"></div>
        <div class="col-6">
            <div id="indicators" class="carousel slide mt-4" data-bs-ride="carousel"
                 style="height: 300px; width: 300px; margin-left: auto; margin-right: auto">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img th:if="!${noPhoto}" class="d-block w-100" th:src="@{/images/unicorns/{id}.jpg(id=${pp})}">
                        <img th:if="${noPhoto}" class="d-block w-100" th:src="@{/images/unicorns/noPp.jpg}">
                    </div>
                    <div class="carousel-item" th:each="photo : ${allPhotos}">
                        <img class="d-block w-100" th:src="@{/images/unicorns/{id}.jpg(id=${photo})}">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#indicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#indicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                <div style="text-align: center">
                    <a th:text="'Insgesamt gibt es ' + ${numberOfPhotos} + ((${numberOfPhotos}>1) ? ' Bilder' : ' Bild ')">Insgesamt</a>
                </div>
                <div class="mt-2" style="text-align: center">
                    <button th:if="${isProfile}" type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#pModal"
                            style="text-align: center; align-self: center;">
                        Bild hinzufügen
                    </button>
                    <div class="modal" id="pModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Bild hinzufügen</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form data-th-action="@{/uploadPhoto}" data-th-object="${photo}"
                                          method="post"
                                          enctype="multipart/form-data">
                                        <label for="newPhoto" class="form-label">Bild hochladen:</label>
                                        <input class="form-control" type="file" id="newPhoto" name="image"
                                               accept="image/jpeg"/>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Speichern</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Schließen
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="card bg-secondary" style="position: relative; top: 5rem">
        <div class="card-header">
            <div class="row">
                <div class="col-3">
                    <img th:if="!${noPp}" th:src="@{/images/unicorns/{id}.jpg(id=${pp})}"
                         style="height: 150px; width: 150px;">
                    <img th:if="${noPp}" th:src="@{/images/unicorns/noPp.jpg}" style="height: 150px; width: 150px;">
                    <div class="mt-2">
                        <button th:if="${isProfile}" type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#ppModal"
                                style="height: fit-content;  width: 150px; text-align: center; align-self: center;">
                            Profilbild ändern
                        </button>
                        <div class="modal" id="ppModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Profilbild ändern</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div class="modal-body" th:if="${noPhoto}">
                                        <p>Du hast noch keine Bilder hochgeladen.</p>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">
                                                Schließen
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-body" th:if="!${noPhoto}">
                                        <div th:each="photo : ${allPhotos}">
                                            <img th:src="@{/images/unicorns/{id}.jpg(id=${photo})}"
                                                 style="height: 150px; width: 150px;">
                                            <p th:text="${photo}"></p>
                                        </div>
                                        <form data-th-action="@{/changePp}" method="post"
                                              class="form-inline">
                                            <label>Profilbild:</label>
                                            <select name="photoName" th:value="${photoName}">
                                                <option th:each="photo : ${allPhotos}" th:text="${photo}"
                                                        th:value="${photo}"></option>
                                            </select>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Speichern</button>
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">
                                                    Schließen
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9" style="text-align: start; align-self: center">
                    <h2 th:text=" ${profile.nickname}"></h2>
                    <i class="fa fa-envelope-o" style="font-size:30px">&nbsp;<a th:text="${email}"></a></i>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div th:if="${isProfile}">
                <h3 class="card-title">Meine Daten</h3>
                <form data-th-object="${profile}" data-th-action="@{/save}" method="post">
                    <input type="text" data-th-field="*{id}" hidden>
                    <div class="mb-4">
                        <label for="emailInput" class="form-label">E-Mail</label>
                        <span type="text" th:text="${email}" id="emailInput"
                              class="form-control" style="background-color: #ECEEEF"></span>
                    </div>
                    <div class="mb-4">
                        <label for="nicknameInput" class="form-label">Nickname</label>
                        <input type="text" data-th-field="*{nickname}" id="nicknameInput"
                               class="form-control">
                    </div>
                    <div class="alert alert-dismissible alert-primary" th:if="${notOlderThan18}">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        Du musst mindestens 18 Jahre alt sein
                    </div>
                    <div class="mb-4">
                        <label for="birthdateInput" class="form-label">Geburtsdatum</label>
                        <input type="date" data-th-field="*{birthdate}" id="birthdateInput"
                               class="form-control">
                    </div>
                    <div class="mb-4">
                        <label for="hornlengthInput" class="form-label">Hornlänge</label>
                        <input type="text" data-th-field="*{hornlength}" id="hornlengthInput"
                               class="form-control">
                    </div>
                    <div class="mb-4">
                        <label for="genderInput" class="form-label">Geschlecht</label>
                        <select data-th-field="*{gender}" id="genderInput">
                            <option th:value="0" th:text="Frau"></option>
                            <option th:value="1" th:text="Mann"></option>
                            <option th:value="2" th:text="Divers"></option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="attractedToGenderInput" class="form-label">Findet attraktiv</label>
                        <select data-th-field="*{attractedToGender}" id="attractedToGenderInput">
                            <option th:value="0" th:text="Frau"></option>
                            <option th:value="1" th:text="Mann"></option>
                            <option th:value="2" th:text="Divers"></option>
                        </select>
                    </div>
                    <div class="alert alert-dismissible alert-primary" th:if="${descriptionIsEmpty}">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        Beschreibung fehlt
                    </div>
                    <div class="mb-4">
                        <label for="descriptionInput" class="form-label">Beschreibung</label>
                        <input type="text" data-th-field="*{description}" id="descriptionInput"
                               class="form-control">
                    </div>
                    <div class="mb-4">
                        <label for="lastseenInput" class="form-label">Zuletzt gesehen</label>
                        <input type="text" data-th-field="*{lastseen}" id="lastseenInput"
                               class="form-control" readonly>
                    </div>
                    <button type="submit" class="btn btn-primary">Speichern</button>
                </form>
            </div>
            <div th:if="!${isProfile}">
                <h3 class="card-title" th:text="|Profil von ${profile.nickname}|">Profil von...</h3>
                <form data-th-object="${profile}">
                    <div class="mb-4">
                        <label for="emailOther" class="form-label">E-Mail</label>
                        <span type="text" th:text="${email}" id="emailOther"
                              class="form-control" style="background-color: #ECEEEF"></span>
                    </div>
                    <div class="mb-4">
                        <label for="nicknameOther" class="form-label">Nickname</label>
                        <input type="text" data-th-field="*{nickname}" id="nicknameOther"
                               class="form-control" readonly>
                    </div>
                    <div class="mb-4">
                        <label for="birthdateOther" class="form-label">Geburtsdatum</label>
                        <input type="date" data-th-field="*{birthdate}" id="birthdateOther"
                               class="form-control" readonly>
                    </div>
                    <div class="mb-4">
                        <label for="hornlengthOther" class="form-label">Hornlänge</label>
                        <input type="text" data-th-field="*{hornlength}" id="hornlengthOther"
                               class="form-control" readonly>
                    </div>
                    <div class="mb-4">
                        <label for="genderOther" class="form-label">Geschlecht</label>
                        <span type="text" data-th-field="*{gender}" id="genderOther"
                              th:text="((${profile.gender} == 1 ? 'FEE' : 'MA'))" class="form-control"
                              style="background-color: #ECEEEF"></span>
                    </div>
                    <div class="mb-4">
                        <label for="attractedToGenderOther" class="form-label">Findet attraktiv</label>
                        <span type="text" data-th-field="*{attractedToGender}" id="attractedToGenderOther"
                              th:text="((${profile.attractedToGender} == 1 ? 'FEE' : 'MA'))" class="form-control"
                              style="background-color: #ECEEEF"></span>
                    </div>
                    <div class="mb-4">
                        <label for="descriptionOther" class="form-label">Beschreibung</label>
                        <input type="text" data-th-field="*{description}" id="descriptionOther"
                               class="form-control" readonly>
                    </div>
                    <div class="mb-4">
                        <label for="lastseenOther" class="form-label">Zuletzt gesehen</label>
                        <input type="text" data-th-field="*{lastseen}" id="lastseenOther"
                               class="form-control" readonly>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>